target/
*.iml
.idea/
pom.xml.bak
.DS_Store
.settings
.classpath
*.log
logs/
.flattened-pom.xml
lib/
sofa-ark-parent/support/ark-plugin-maven-plugin/com/alipay/sofa/ark/plugin/mark
sofa-ark-parent/support/ark-plugin-maven-plugin/null.ark.plugin
sofa-ark-parent/support/ark-plugin-maven-plugin/null.ark.plugin.bak
sofa-ark-parent/support/ark-plugin-maven-plugin/xxx.ark.plugin
sofa-ark-parent/core/common/C/\temp dir\b\c/test.txt
sofa-ark-parent/core/common/C:\\temp dir\\b\\c/test.txt

.gradle/
build/
gradle/
gradlew
gradlew.bat